
div#exit-content {
    display: none;
    position: fixed;
    z-index: 111;
    height: 100%;
    width: 100%;
    top: 0;
    text-align: center;
    background-color: rgba(0,0,0,.75);
}
div#exit-content div.exit-bg {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
}
div#exit-content .exit-coupon {
    margin: 0 auto;
    margin-top: 80px;
    height: 450px;
    width: 700px;
    position: relative;
    z-index: 3;
}

/*BUTTON*/
div#exit-content .exit-button {
    display: block;
    border-radius: 5px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 77px;
    font-size: 30px;
    width: 445px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-top: 90px;
    height: 100px;
}

div#exit-content .button-wrap {
    display: inline-block;
    vertical-align: top;
    width: 490px;
    box-sizing: border-box;
    padding-left: 0px;
    margin-top: 90px;
    margin-right: 0;
}
div#exit-content .button-wrap p {
    color: #ff5f01;
    font-size: 100px;
    font-weight: bold;
    letter-spacing: -2px;
    width: 440px;
    height: 90px;
    text-align: center;
    line-height: 90px;
    font-family: 'Roboto', sans-serif;
}
div#exit-content .bottle-wrap {
    display: inline-block;
    vertical-align: top;
    margin-top: 200px;
    width: 200px;
}
div#exit-content .bottle-wrap img {
    width:150px;
}
div#exit-content .exit-close {
    color: black;
    font-size: 15px;
    margin-top: 10px;
    display: block;
    cursor: pointer;
    padding-right: 45px;
}






