html, body {
  height: 100%;
  overflow: auto;
}

body {
  margin: 0;
}

.content {
  width: 100%;
}

.background-image {
  height: 800px;
  overflow: hidden;
}

.header {
  position: relative;
  padding: 20px 0;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.product-name {
  font-size: 5em;
}

.seperator {
  margin-bottom: 50px;
}

.claim {
  font-style: italic;
}

.payment-container {
  padding-top: 30px;
}

.info-container {
  margin-bottom: 30px;
}

.info {
  font-size: 20px;
}

.options-container {
  width: 100%;
}

.option {
  margin-bottom: 30px;
  position: relative;
  top: 0;
}

.option-active {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  top: 3px;
}

.option:not(.option-active):hover {
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  top: 1px;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.option-info {
  margin-top: 20px;
}

.option-prices {
  font-size: 20px;
}

.option-prices>table {
  width: 100%;
}

.option-prices>table>tbody>tr>td {
  height: 30px;
}

.regular-price {
  text-decoration: line-through;
  color: rgb(219, 14, 14);
}

.discounted-price {
  color: green;
}

.shipping-price {
  color: rgb(248, 199, 66);
}

.total-price {
  color: blue;
}

.form-container {
  width: 100%;
  margin: 20px 0;
}

.form-button {
  width: 100%;
  max-width: 400px;
  height: 60px;
}

.payment-form-button {
  width: 100%;
  height: 50px;
}

.form-terms-container {
  padding: 20px 0;
}

.checkout-container {
  margin-bottom: 50px;
}

.price-breakdown {
  width: 100%;
  font-size: 1.4em;
}

.price-breakdown--header {
  height: 50px;
}

td.price-breakdown--product {
  padding-right: 5px;
}

td {
  height: 40px;
}

td.price-breakdown--label {
  width: 80%;
}

td.price-breakdown--amount {
  text-align: right;
  width: 20%;
}

.footer {
  margin: 50px 0 30px 0;
  padding-top: 30px;
}

.footer-fda {
  margin-top: 30px;
}

.footer-links>a {
  cursor: pointer;
  font-size: 20px;
}

.popup-container {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0, 0.7);
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -110px;
  margin-left: -200px;
  width: 400px;
  min-height: 220px;
}

.popup>.card>.card-header,
.popup>.card>.card-footer {
  background-color: inherit;
  border: none;
}

.fade-in {
  transition: all linear 100ms;
  opacity: 1;
}

.fade-in.ng-hide {
  transition: all linear 100ms;
  opacity: 0;
}

@media (max-width: 650px) {

  .popup {
    width: 90%;
    margin-left: -45%;
  }
}

.receipt-thankyou {
  margin: 40px 0;
}

