/*ADEX*/
body{
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans';
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
img{
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


input[type=email], input[type=tel], input[type=text], select {
    -webkit-appearance: none;
    border: 1px solid grey;
    background-color: white;
    height: 35px;
    width: 100%;
    font-size: 16px;
    padding-left: 7px;
    margin-bottom: 10px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    border-radius: unset;
}
select {
    background: url(../images/icon-validation.png)top right no-repeat;
    background-position: right 7px top -55px;
    background-color: white;
    background-size: 40px;
    color: #7a7a7a;
}
/*VALIDATION*/
span.help-block.form-error {
    display: none;
}
.has-error input[type=email],
.has-error input[type=text],
.has-error input[type=tel],
.has-success.not-valid input[type=tel]{
    border: 1px solid grey !important;
    border-bottom: 3px solid #ff5e45 !important;
    background-image: url(../images/icon-validation.png);
    background-size: 40px;
    background-position: right -13px top -26px;
    background-repeat: no-repeat;
}
.has-success input[type=email],
.has-success input[type=text],
.has-success input[type=tel],
.has-success.is-valid input[type=tel]{
    border: 1px solid grey !important;
    background-image: url(../images/icon-validation.png);
    background-size: 40px;
    background-position: right -13px top 6px;
    background-repeat: no-repeat;
}
.has-error.has-success input[type=email],
.has-error.has-success input[type=text],
.has-error.has-success input[type=tel]{
    border: 1px solid grey !important;
    border-bottom: 3px solid #ff5e45 !important;
    background: url(../images/icon-validation.png)top right no-repeat;
    background-size: 40px;
    background-position: right -13px top -26px;
}
.has-error.has-success select,
.has-error select {
    border: 1px solid grey !important;
    border-bottom: 3px solid #ff5e45 !important;
    background: url(../images/icon-validation.png)top right no-repeat;
    background-color: white;
    background-size: 40px;
    background-position: right 7px top -26px;
}
.has-success select {
    border: 1px solid grey !important;
    background-image: url(../images/icon-validation.png);
    background-size: 40px;
    background-position: right 7px top 6px;
    background-repeat: no-repeat;
}


/*GOOGLE*/
.address-field {
}

.pac-container {
    width: 310px !important;
}
.pac-item {
    height: 46px;
}

.pac-item, .pac-item-query {
    font-size: 16px;
    line-height: 46px;
}

.pac-item-query {
    padding-right: 7px;
}

.pac-icon {
    margin-top: 10px;
}





/*LOADING */
div.loading-wrap {
    display:none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: 3;
    top: 0;
    left: 0;
}
div.loading-window {
    width: 420px;
    margin: 0 auto;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
    margin-top: 15%;
}
.loading-window .line-1{
    color: red;
    font-size: 20px;
    font-weight: 500;
}
.loading-window .line-2{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.loading-window .line-3 {
    font-size: 24px;
    margin-top: 0;
    color: red;
}



/*FOOTER*/
a.footerLink {
    cursor: pointer;
    color: black;
    text-decoration: none;
}