@charset "utf-8";
@import url("fonts.css");
/* CSS Document */
body {
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	padding:0;
	text-align:center;
	background:#fff;
	font-family: 'Roboto', sans-serif;
	letter-spacing:-0.4px;		
}
/*
START UTILITY
*/
div, ul, h1, h2, h3, h5,li, p, img, form, input, textarea {
	margin:0;
	padding:0;
}

a {
    outline: none;
	color:#333;
	text-decoration:underline;
}

a:hover {
    outline: none;
	color:#000;
	text-decoration:none;
}

img {
	border:none;
}

li {
	list-style:none;
}

.clearall {
	clear:both;
	font-size:1px;
	line-height:1px;
	height:1px;
}

/*
END UTILITY*/

/* start main content */
div#container{
	background:#fff;
	height:auto;
}
.contentWrap{
	width:1004px;
	margin:0 auto;
	padding-top: 1px;
}
.tophdr{
	height:60px;		
	background:#fff;	
	border:dashed 3px #ff0000; 
	border-radius:6px;
	width:100%;
	margin-top:12px;
	padding-left:14px;
	box-sizing: border-box;
}
ul.tphdrlist{
	padding:0;
	margin:0;
	float:left;
}
ul.tphdrlist li{
	float:left;
	display:inline-block;
}
ul.tphdrlist li.lftl{
	width:660px;
}
ul.tphdrlist li.rgtl{
	width:227px;	
}
.warning, .warning-date{	
	font-family: 'Open Sans', sans-serif;	
	text-align:left;
	line-height:55px;	
	text-transform:uppercase;
	color:#ff0149;
	font-size:48px;		
}
.warning-date{
	font-size:18px;
	line-height:24px;
	color:#484848;
	padding:6px 0 0 10px;	
	text-transform:none;		
}
.warning-date b{	
	color:#ff0149;	
	font-weight:bold;
	margin:5px 0 0 5px;
}
div#header, div#section2, div#section3, .sec3inner, div#section4, div#section5, div#section6, 
.sec6inner, div#section7, .sec7inner{
	min-width:1004px;
	width:100%;
	/*border:1px solid red;*/
}
div#header{
	height:830px;	
	background: url(../images/sec1-bg.jpg)center top repeat-x;		
	}
.headerinner{
	background:url(../images/section-1.jpg) center top no-repeat;
	height:830px;
	position:relative;
	margin:0 auto;
}
.bottle{
	position: absolute;
	left: 30px;
	top: 416px;
}
.leaf{
	position: absolute;
	left: -150px;
	top: 595px;
}

/* form start */
.form-position {
	float: right;
	height: 480px;
	width: 340px;
	margin-right: 14px !important;
	padding: 15px;
	box-sizing: border-box;
	margin-top: 205px !important;
}
/*.frmElemts, .frmElemts2 {*/
	/*display:inline-block;*/
	/*float:left;*/
	/*margin:5px 0 5px 0;*/
/*}	*/
/*.frmElemts input, .frmElemts label, .frmElemts select  {*/
	/*display:inline-block;*/
	/*float:left;*/
	/*height:26px;*/
	/*line-height:26px;		*/
/*}*/
/*.frmElemts input {*/
	/*line-height:26px;	*/
	/*font-family: 'Open Sans', sans-serif;	*/
	/*font-size:14px;*/
	/*color:#707070;*/
	/*text-align:left;*/
	/*margin-right:10px;	*/
/*}	*/
/*.frmElemts input, .frmElemts select {	*/
	/*border:none;*/
	/*width:294px; */
	/*height:32px;	*/
	/*outline:none;*/
	/*padding-left:10px;*/
	/*border:1px solid #acacac;	*/
/*}*/
/*.frmElemts select{*/
	/*width:306px;*/
	/*height:35px;*/
/*}	*/
/*.frmElemts2 input{	 */
	/*border:none;*/
	/*width:15px; */
	/*height:15px;	*/
	/*outline:none;*/
	/*margin:0 5px 0 20px;	*/
/*}*/
/*.frmElemts2 label {*/
	/*line-height:15px;	*/
	/*font-family:Arial, Helvetica, sans-serif;*/
	/*font-size:13px;*/
	/*color:#fff;*/
	/*text-align:left;	*/
/*}*/
/*.frmElemts2 label span{*/
	/*text-decoration:underline;*/
/*}		*/
.lock{
	width:202px;
	height:12px;
	margin:20px 0 0 0;
}
.submit{
	background:url(../images/submit-btn.png)0 0 no-repeat;
	cursor:pointer;
	border:none;
	outline:none;	
	width:312px;
	height:90px;
	margin:7px 24px 0 0;
}
/* form end */
/* -------------- start section2 ---------------- */					
div#section2{
	background: url(../images/section2.jpg)center top no-repeat;
	height:818px;
	}
.sec2txt {
	font-size: 20px;
	line-height: 25px;
	color: #616161;
	text-align: left;
	padding: 188px 0 0 15px;
	width: 454px;
	margin: 0;
	letter-spacing: -0.2px;
	height: 400px;
}
.sec2txt span{
	font-weight:bold;
	color:#a42a5b;
}
.sec2txt2, .sec2txt3, .sec2txt4{	
	font-size:30px;
	color:#2e2121;
	line-height:29px;
	font-weight:bold;
	font-style:italic;
	text-align:left;
	padding: 60px 0 0 76px;
	width:508px;
}
.sec2txt3, .sec2txt4{
	font-size: 18px;
	line-height:25px;
	color:#0d7f0e;
	padding:0 0 0 76px;	
}
.sec2txt4{
	padding:15px 0  0 76px;
}
/* -------------- end section2 ---------------- */
/* ------------- start section3 ----------- */
div#section3{
	height:850px;
	background:none;
	}
.sec3inner{	
	height:850px;
	background:url(../images/section3.jpg) center top no-repeat;
	margin:0 auto;
}
ul.sec3list{
	margin:0 ;
	padding:95px 0 0 504px;
}
ul.sec3list li{
	margin:0;
	padding:46px 0 0 0;
}

.sec3hding{	
	font-size:24px;
	line-height:24px;
	color:#0d7f0e;
	text-align:left;
	padding:0 0 0 0;
	text-transform:uppercase;
	font-weight:bold;
}
.sec3txt{
	font-family: 'robotolight';	
	font-size:18px;
	color:#373737;
	line-height:22px;
	margin:0;
	padding:8px 0 0 0;
	text-align:left;
	width:464px;		
}
.sec3bottle{
	position:absolute;
	top:335px;
	left:130px;
}
.sec3btn {
	position: absolute;
	top: 744px;
	left: 175px;
}
/* ------------- end section3 ----------- */
/* ------------- start section4 ----------- */
div#section4{
	background: url(../images/section4.jpg)center top no-repeat;
	height:830px;
}
.sec4hding{
	font-size:66px;
	line-height:60px;
	color:#000000;
	text-align:center;
	font-weight:bold;
	font-style:italic;
	letter-spacing:-2px;	
	margin:0 auto;
	padding:2% 0 0 0;
	height: 70px;
}
.sec4hding span{
	color:#a42a5b;
	text-transform:uppercase;	
}
.sec4left, .sec4rgt{
	float:left;
	display:inline-block;
	margin:0;
	padding:0;
	width:59%;	
}
.sec4rgt{
	width:40%;
}
.sec4txt1, .sec4txt2, .sec4txt3, .sec4txt4, .sec4txt5, .sec4txt6{	
	 font-size:20px;
	 color:#616161;
	 line-height:24px;
	 text-align:left;
	 padding:14px 0 0 15px;
	 width:550px;
	 margin:0;
	 margin-top: 8px;
}
.sec4txt2, .sec4txt3{
	width:478px;	
	color:#ffffff;	
	padding:40px 0 0 85px;
	font-weight:600;
	font-size:18px;
	line-height:22px;	
}
.sec4txt3 {
	padding: 50px 0 0 85px;
	padding-bottom: 5px;
}
.sec4txt4{
	padding:36px 0 0 15px;
}
.sec4txt5{
	padding:30px 0 0 15px;
	color:#0d7f0e;
	font-size:18px;
	line-height:22px;
	font-weight:600;
	width:386px;
}
.sec4txt6{
	width:350px;
	text-align:center;
	font-size:24px;	
	color:#ffffff;	
	padding:550px 0 0 17px;
	letter-spacing:-0.4px;
	font-style:italic;
	font-weight:500;
}
.sec4txt1 span, .sec4txt2 span, .sec4txt3 span, .sec4txt4 span, .sec4txt5 span{
	color:#a42a5b;
	text-transform:uppercase;
	font-weight:bold;		
}

/* ------------- end dection4 ----------- */
/* ------------- start section5 ----------- */
div#section5{
	height:1033px;
	}
.sec5inner{	
	width:100%;	
	height:1034px;
	background:url(../images/section5.jpg)center top no-repeat;
	margin:0 auto;
	min-width:1004px;
}
.sec5txt{
	width:698px;	
	font-size:20px;
	color:#616161;
	line-height:24px;
	margin:0;
	padding:176px 0 10px 298px;
	text-align:left;
}
.sec5txt span, .sec5txt b, ul.sec5list li span{
	color:#a42a5b;
	font-weight:bold;
	text-transform:uppercase;		
}
ul.sec5list{
	margin:0;
	padding:48px 0 0 348px;
	width:620px;
}
ul.sec5list li {
	font-family: 'robotolight';
	font-size:20px;
	line-height:24px;
	color:#020200;
	padding: 60px 0 0 0;
	text-align: left;
	list-style: none;
	height: 60px;
}
.sec5btn {
	position: absolute;
	top: 841px;
	left: 168px;
}

/* ------------- end section5 ----------- */	
/* ------------- start section6----------- */
div#section6 {
	height: 680px;
}
.sec6inner{	
	height:590px;
	background:url(../images/section6.jpg)center top no-repeat;
	margin:0 auto;
}
.sec6lft, .sec6mid, .sec6rgt{
	float:left;
	display:inline-block;
	width:33.3%;
	padding: 495px 0 0 0;
	margin:0;	
}
.sec6steps{	 
	  font-size:30px;
	  line-height:30px;
	  color:#0d7f0e;
	  text-align:center;
	  font-weight:bold;
	  text-transform:uppercase;
	  padding:5px 0 5px 0;
}
.sec6steps-txt{	
	font-size:24px;
	color:#0a0a0c;
	text-align:center;	
	padding:0 0 0 0;
	line-height:26px;
	margin:0;
}

/* ------------- end section6 ----------- */
/* ------------- start section7 ----------- */
div#section7{
	background:url(../images/sec7bg.jpg)center top repeat-x;
	height:864px;	
}
.sec7inner{
	background:url(../images/section7.jpg)center top no-repeat;
	height:864px;
}
.sec7bottle{
	position: absolute;
	top: 400px;
	left: 540px;
}
.sec7leaf{
	position:absolute;
	top:613px;
	left: 410px;
}
.sec7btn {
	position: absolute;
	top: 739px;
	left: 57px;
}



/* ------------- end section7 ----------- */
/* ------------- start footer----------- */


div#footer{
	border-top:2px solid #dfdfdf;
	height:auto;
	background:#fff;	
	}
.ftrtxt{	
	font-family: 'robotolight';
	font-weight:400;
	font-size:14px;
	color:#969696;
	text-align:center;
	line-height:25px;
	text-transform:uppercase;
	padding:20px 0 40px 0;
	margin:0;
}
.ftrtxt a, .ftrtxt a:hover{
	text-decoration:none;
	color:#474444;
}
/* ------------- end bdseven ----------- */	
/* start thankyou page */



/*EXIT*/
.exit-coupon {
	background: url(../images/exit.jpg)center top no-repeat;
}