
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Helvetica','Arial';
    -webkit-font-smoothing: antialiased;
    font-size: 24px;
}
div.wrap {
    width: 640px;
    margin: 0 auto;
    margin-bottom: 75px;
    padding: 40px;
    padding-top:0;
}

.ib{display:inline-block;vertical-align:top;}
.tac{text-align:center;}
.w540 {
    width: 560px;
    margin: 0 auto;
}



h1#rthanks {
    color: green;
    font-weight: 600;
    font-size: 1.5em;
    font-style: italic;
    line-height: 36px;
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 5px;
    text-align: center;
}
.bottleanddescription {
    margin-bottom: 30px;
}
div#processed {
    text-align: center;
    font-size: .75em;
    font-weight: bold;
    width: 600px;
    margin: 0 auto;
}

img.imagebox {
    width: 170px;
}
.descriptioncontain.ib {
    width: 430px;
    font-size: .9em;
    line-height: 10px;
    margin-left: 30px;
}

.shipmentnumber {
    text-decoration: underline;
}
p.description {
    font-weight: bold;
    line-height: 25px;
    margin: 14px 0;
}
.divider {
    height: 10px;
    position: relative;
    margin: 0 auto;
    border-top: 1px solid grey;
    margin-bottom: 20px;
}
p.details.customsup {
    line-height: 25px;
}
.totalamounts {
    font-weight: bold;
    font-size: 1.2em;
}
div#subtotal .description {
    width: 260px;
    text-align: right;
    line-height: 25px;
    font-size: .9em;
}
#subtotal p.rprice.totals {
    width: 80px;
    text-align: left;
    line-height: 25px;
}
.btop {
    border-top: 2px solid lightgrey;
    margin-bottom: 35px;
}
div#subtotal p {
    margin: 10px 0;
}
div#subtotal {
    width: 400px;
    margin-left: 220px;
    margin-bottom: 30px;
}
div.sandb {
    width: 250px;
    font-size: .9em;
}
div.sandb p {
    margin: 10px 0;
}
div#receiptB {
    margin-top: 30px;
}
.bottleWrap{
    width:170px;
}