body {
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    padding:0;
    text-align:center;
    background:#fff;
    font-family: 'Roboto', sans-serif;
    letter-spacing:-0.4px;
}
.up{text-transform:uppercase;}
.red{color:red;}
.bold{font-weight:bold;}
.maroon{color:#9f2b5a;}
div#thankyou-wrap {
    background: url(../images/sec-onebg.jpg)center top no-repeat;
    padding-top: 95px;
    padding-bottom: 150px;
}
div#thankyou-wrap .content {
    width: 800px;
    margin: 0 auto;
    border:1px solid lightgrey;
    padding:30px;
    background-color:white;
}
div#steps {
    height: 40px;
    display: inline-block;
    margin: 0 auto;
}
div#steps ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
div#steps li {
    display: inline-block;
    float: left;
    line-height: 40px;
    font-size: 18px;
    padding: 0 50px;
    border: 1px solid grey;
    background: lightgrey;
}
div#steps li.active {
    color: white;
    background-color:grey;
}
div#header-1 {
    border-bottom: 1px solid lightgrey;
}
div#header-1 h1 {
    margin: 0;
    padding-top: 20px;
}
div#header-1 p {
    margin: 0;
    padding-bottom: 20px;
}
div#header-2 h1 {
    padding-top: 20px;
    margin: 0;
}
div#header-2 p {
    margin: 0;
    padding-bottom: 30px;
}


div#coupon {
    background: url(../images/sec1-bg.jpg)center top no-repeat;
    border: 4px dashed black;
    height: 310px;
    width: 530px;
    background-position: -600px -150px;
    margin: 0 auto;
    cursor: pointer;
}
div#bottle-wrap {
    display: inline-block;
    vertical-align: top;
    width: 190px;
    float: left;
    text-align:center;
}
img#step2_bottle {
    width: 160px;
    margin-top: 30px;
}
div#bottle-info {
    width: 370px;
    display: inline-block;
    margin-left: -30px;
    
}
div#bottle-info p {
    margin: 0;
    font-size: 18px;
}
p#copy-1 {
    padding-top: 20px;
}
div#bottle-info p#copy-2 {
    font-weight: normal;
    font-size: 24px;
    padding-top: 5px;
}
div#bottle-info p#copy-3 {
    font-size: 24px;
    height: 100px;
}
div#bottle-info p#copy-3 span {
    display: block;
    padding-top: 5px;
    font-size:18px;
}
div#bottle-info p#copy-4 {
    font-weight: normal;
}
div#bottle-info p#copy-4 span{
    font-weight:bold;
}
div#bottle-info p#copy-5 {
    font-size: 46px;
    padding-top: 14px;
}

input#upsell_button {
    margin-top: 30px;
}
a.nTY {
    color: grey;
    margin-top: 20px;
    display: block;
    font-size: 15px;
    text-decoration: none;
}






















